// GENERAL
.input-text{
    margin-bottom:20px;
    padding:5px 10px;
    border-color:1px solid#0a0a0a;
}
body{
    background-color: #d2d7d3;
}

// INDEX
.login-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    .logo{
        width: 80px;
    }
    .card{ 
        max-width: 320px;
        padding:20px;
        box-shadow: 0px 0px 12px -3px #000000;
        .btn{
            margin:0 auto;
            display: block;
        }
    }
}

.btn-table{
    img{
        max-width: 24px;
    }
}